.viz {
    background-color: #eee4;
    width: 100%;
    height: 100%;

    text {
        font-size: 0.2px;
    }
}
.split {
    &:hover {
        stroke-width: 1px;
        stroke: #333;
    }
}
[data-node] {
    fill: papayawhip;
    stroke: black;
    stroke-width: 0.01;

    &[data-selected="true"] {
        fill: orange;
    }
}
